<html>
<head>
	<title>Search Results</title>
	<style>body {font-family:Helvetica,Arial,sans-serif}
			h1 {font-size:1.5em;margin:0em}
			.thumbnail{width:150px;height:150px;float:left;margin:0.2em;position:relative;}
			.row:after {content: ""; display: table; clear: both;}
	</style>
</head>
<body>
	<h1>Search results</h1>
	<div class="row">
	<p>By views:</p>
	{% for photo in top3Views %}
	<div class='thumbnail'>
		<img src="{{photo.photo.thumbnailURL}}" alt="{{photo.photo.title._content}}">
	</div>
	{% endfor %}
	</div>

	<div class="row">
	<p>By tags:</p>
	{% for photo in top3Tags %}
	<div class="thumbnail">
		<img src="{{photo.photo.thumbnailURL}}" alt="{{photo.photo.title._content}}">
	</div>
	{% endfor %}
	</div>

	<div class="row">
	<p>By comments:</p>
	{% for photo in top3Comments %}
	<div class="thumbnail">
		<img src="{{photo.photo.thumbnailURL}}" alt="{{photo.photo.title._content}}">
	</div>
	{% endfor %}
	</div>
</body>
</html>

